<div class="header">
    <div class="logo">
        <a href="{{ site.url }}">
            <img src="{{ site.url }}/images/logo.png" />
        </a>
    </div>
    <div class="menu">
        <ul id="menu">
            <li><a href="{{ site.url }}/solutions/organizations">Solutions</a></li>
            <li><a href="{{ site.url }}/technology/hardware">Technology</a></li>
            <li><a href="{{ site.url }}/careers">Careers</a></li>
            <li><a href="{{ site.url }}/contact">Contact</a></li>
        </ul>
        <button id="menu-button">MENU</button>
    </div>
</div>
